<div class="row">
  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let myTodo of todos" class="list-group-item">
        {{myTodo.title}} : {{myTodo.content}}
        <button class="btn btn-danger" (click)="deleteTodo(myTodo)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    Title : <input type="text" [(ngModel)]="title" class="form-control">
    Content : <input type="text" [(ngModel)]="content" class="form-control">
    <button class="btn btn-primary"
            [disabled]="!title.length || !content.length"
            (click)="addTodo()"
    >
      Add Todo
    </button>
  </div>
</div>
<div class="row">
  <button class="btn btn-danger" (click)="goToCv()">
    Go back to CV
  </button>
</div>
